<div class="container">
    <br><div class="myclass"><h1>Phone</h1></div >
    <div class="row">
        <div class="col-sm" *ngFor="let item of products; let productId = index">
            <div class="card">
                <a [routerLink]="[item._id]">
                    <img class="bd-placeholder-img card-img-top" src="{{item.coverImage}}" >
                    <div class="card-body">
                        <p class="card-text">
                            {{item.name}}
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
  